<tr>
  <td><%= number_to_currency(extrato.valor&.round(2)) %></td>
  <td><%= extrato.taxa %></td>
  <td><%= extrato.tipo_lancamento ? "Depósito" : "Retirada" %></td>
  <td><%= extrato.descricao %></td>
  <td><%= extrato.created_at.strftime("%d/%m/%Y às %I:%M%p") %></td>
  <td><%= number_to_currency(@saldo) %></td>
</tr>