<div class="container justify-content mt-2">
  <h3>Cards</h3>
  <div class="row">
    
    <div class="col">
      <div class="card border-primary mb-3" id="card">
        <div class="card-header">Saldo</div>
        <div class="card-body text-primary">
          <h3 class="card-title" id="saldo" ><%= number_to_currency(@saldo) %></h3>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card border-primary mb-3" id="card">
        <div class="card-header">Balanço</div>
        <div class="card-body text-primary">
          <h3 class="card-title" id="balanco"><%= number_to_currency(@saldo)%></h3>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card border-success mb-3" id="card">
        <div class="card-header">Depositar</div>
        <div class="card-body text-success">
        <%= form_for @extrato_entrada, url: { action: "create" }, remote: true, class: "form-control" do |f| %>
          <div class="form-group">
            <%= f.number_field :valor, class: "form-control", step: :any, required: true, id: "depositar" %>
            <%= f.hidden_field :tipo_lancamento, value: true %>
          </div>
          <%= submit_tag 'Depositar', class: "btn btn-success" %>
        <% end %>
        </div>
      </div>
    </div>

    <div class="col ">
      <div class="card border-danger mb-3" id="card">
        <div class="card-header">Retirar</div>
        <div class="card-body text-danger">
        <%= form_for @extrato_retirada, url: { action: "create" }, remote: true, class: "form-control" do |f| %>
          <div class="form-group">
            <%= f.number_field :valor, class: "form-control", step: :any, required: true, id: "retirar" %>
            <%= f.hidden_field :tipo_lancamento, value: false %>
            </div>
          <%= submit_tag 'Retirar', class: "btn btn-danger" %>
        <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<%
=begin%>
 <div class="d-flex justify-content-center">
<%= content_tag :div, nil, data: {controller: "extratos"} do %>
  <button data-action="click->extratos#load" data-target="extratos.heading">Fetch!</button>
<% end %>
</div> 
<%
=end%>

<div class="container mt-3">
  <h3>Extrato</h3>
  <table class="table" id="table-extrato">
    <thead>
      <tr>
        <th>Valor</th>
        <th>Taxa</th>
        <th>Tipo de lançamento</th>
        <th>Descricao</th>
        <th>Data de lançamento</th>
        <th>Saldo</th>
      </tr>
    </thead>
    <tbody>
      <%= render @extratos %>
    </tbody>
  </table>
</div>