<!DOCTYPE html>
<html>
  <head>
    <title>Bancomedcapital</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/extratos">MedCapital</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <% if user_signed_in? %>
          <li class="nav-item active text-light">
            Logado como <strong class="text-light"><%= current_user.email %></strong>
            <%= link_to 'Editar perfil ', edit_user_registration_path, class: "text-light" %> |
            <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "text-light"  %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Criar conta", new_user_registration_path, class: "text-dark"  %> |
            <%= link_to "Entrar", new_user_session_path, class: "text-dark" %>
          </li>
        <% end %>
      </div>
    </nav>
    
  </head>

  <body>

  <%= yield %>

  </body>
</html>
